@model WebMVC.ViewModels.LoginBindingModel


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-12">
            <div class="entity-list entity-list-add-item-button">
                <a class="entity-list-item" href="#" data-toggle="modal" data-target="#modal-addlogin">
                    <div class="item-icon">
                        <span class="glyph glyph-add"></span>
                    </div>
                    <div class="item-content-primary">
                        <div class="content-text-primary">Add an item</div>
                    </div>
                </a>
            </div>

            @if (ViewData["logins"] != null)
            {
                <div class="entity-list entity-list-expandable">
                    @foreach (var l in (IEnumerable<Extensions.LoginStatus>)ViewData["logins"])
                {
                        <div class="entity-list-item">
                            <div class="item-icon">
                                @if (l.AllowDialIn && l.Enabled)
                                {
                                    <span class="glyph glyph-contact"></span>
                                }
                                else
                                {
                                    <span class="glyph glyph-block-contact"></span>
                                }
                            </div>
                            <div class="item-content-secondary">
                                @if (String.IsNullOrEmpty(l.MonthlyTrafficDisplay))
                                {
                                    <div class="content-text-primary">@(l.BasicAcct?.TotalInOutDisplay)</div>
                                }
                                else
                                {
                                    <div class="content-text-primary">@(l.BasicAcct?.TotalInOutDisplay) / @(l.MonthlyTrafficDisplay)</div>
                                }
                                <div class="content-text-secondary">@(l.LastUpdated?.ToLocalTime().ToString("yyyy/MM/dd"))</div>
                            </div>
                            <div class="item-content-primary">
                                <div class="content-text-primary">@l.LoginName</div>
                                <div class="content-text-secondary">Allow dial in: @(l.AllowDialIn && l.Enabled ? "Yes" : "No")</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@(l.BasicAcct?.TotalInOut.ToString())" aria-valuemin="0" aria-valuemax="@(l.MonthlyTraffic.ToString())" style="width: @(l.Percent());">
                                        <span class="sr-only">@(l.Percent())</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content-expanded">
                                <button class="btn btn-default configure" data-loginname="@l.LoginName" data-toggle="modal" data-target="#modal-configure">Configure</button>
                                <button class="btn btn-default reset-password" data-loginname="@l.LoginName" data-toggle="modal" data-target="#modal-resetpassword">Reset password</button>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


<!--
        Modal
-->

<div class="modal" id="modal-addlogin" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-controller="Dashboard" asp-action="Create" method="post">
            <!-- Input and Submit elements -->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">
                        Create VPN Server Login
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="UserName">Username</label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName"></span>
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        <label for="ConfirmPassword">Password</label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="button" class="btn btn-info"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal" id="modal-resetpassword" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-controller="Dashboard" asp-action="Reset" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">
                        Reset VPN Server Login <span><strong id="showloginname"></strong>'s</span> password
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="UserName" id="resetusername" class="form-control">
                    <div class="form-group">
                        <label for="Password">New Password</label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="button" class="btn btn-info"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal" id="modal-configure" tabindex="-1" role="dialog" aria-labelledby="modal-sample-label" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-controller="Dashboard" asp-action="Configure" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-sample-label">
                        Configure VPN Server Login <span><strong id="showloginname-configure"></strong></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="UserName" id="resetusername-configure" class="form-control">
                    <div class="form-group">
                        <label for="MonthlyTraffic">Max Monthly Traffic</label>
                        <input id="MonthlyTraffic" name="MonthlyTraffic" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                    <button type="button" class="btn btn-info"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $(".reset-password").on("click", e => {
                var l = e.currentTarget.attributes["data-loginname"].value;
                $("#showloginname").text(l);
                $('#resetusername').val(l);
            });

            $(".configure").on("click", e => {
                var l = e.currentTarget.attributes["data-loginname"].value;
                $("#showloginname-configure").text(l);
                $('#resetusername-configure').val(l);
            });
        });

        var data = {
            labels: [
                "Used",
                "Available"
            ],
            datasets: [
                {
                    data: [@ViewData["used"], @ViewData["traffic"] - @ViewData["used"]],
                    backgroundColor: [
                        "#0078D7",
                        "#CCCCCC"
                    ],
                    hoverBackgroundColor: [
                        "#36A2EB",
                        "#808080"
                    ]
                }]
        };

        var ctx = document.getElementById("myChart");
        // For a pie chart
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
            }
        });
    </script>
}