@model IEnumerable<Extensions.LoginStatus>
@{
    ViewData["Title"] = "My Logins";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@if (Model != null)
{
    <ul>
        @foreach (var l in Model)
        {
            <li>@l.LoginName | @l.AllowDialIn | @l.Enabled | @(l.BasicAcct?.TotalInDisplay) | @(l.BasicAcct?.TotalOutDisplay)</li>
        }
    </ul>
}