

<div class="container">
    <ol class="list-items">
        @if (ViewData["servers"] != null)
        {
            foreach (var server in ViewData["servers"] as IEnumerable<WebMVC.ViewModels.Server>)
            {
                <li class="list-items-row">
                    <div data-toggle="collapse" aria-expanded="false" data-target="@("#list-item-line-" + server.Id)">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="glyph glyph-add"></i>
                                <i class="glyph glyph-remove"></i>
                                @*<strong>1</strong>*@
                            </div>
                            <div class="col-md-6">
                                @if (server.IsHybrid)
                                {
                                    <img src="@Url.Content("/images/flags_iso/32/" + server.RedirectorServerCountryFlag)" alt="@server.RedirectorServerCountryName" />
                                    <strong><span class="glyph glyph-remote"></span></strong>
                                    <img src="@Url.Content("/images/flags_iso/32/" + server.TrafficServerCountryFlag)" alt="@server.TrafficServerCountryName" />
                                }
                                else
                                {
                                    <img src="@Url.Content("/images/flags_iso/32/" + server.CountryFlag)" alt="@server.CountryName" />
                                }
                               
                      
                                @*<a>sh.uk.antvpn.io</a>*@
                            </div>
                            <div class="col-md-4">
                                Protocals: <strong>@server.ProtocalsDisplay</strong>
                            </div>
                            <div class="col-md-4">
                                Type: <strong>@(server.IsHybrid ? "Hybrid" : "Normal")</strong>
                         
                            </div>
                            <div class="col-md-4">
                                @if (!server.IsServerStatusGood)
                                {
                                    <span>Status: </span><span class="glyph glyph-radio-bullet status-stop" title="Stopped"></span>
                                }
                                else
                                {
                                    <span>Status: </span><span class="glyph glyph-radio-bullet status-running" title="Running"></span>
                                }
                            </div>
                            <div class="col-md-4 text-right">
                                <a><span class="glyph glyph-hamburger"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="collapse" id="@("list-item-line-" + server.Id)">
                        <div class="row">
                            <div class="col-md-18 col-md-offset-2">
                                Server Endpoint: <strong>@server.Domain</strong>
                            </div>
                            <div class="col-md-18 col-md-offset-2">
                                CPU Load: <strong>@server.CPUPercentage</strong>
                            </div>
                            <div class="col-md-18 col-md-offset-2">
                                Bandwidth In: <strong>@server.BandwidthIn</strong>
                            </div>
                            <div class="col-md-18 col-md-offset-2">
                                Bandwidth Out: <strong>@server.BandwidthOut</strong>
                            </div>
                            <div class="col-md-18 col-md-offset-2">
                                Bandwidth Total: <strong>@server.BandwidthTotal</strong>
                            </div>
                            <div class="col-md-18 col-md-offset-2">
                                Last Updated: <strong>@server.DurationDisplay</strong>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-primary btn-sm">Copy</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }
    </ol>
</div>